@model Sistema_Comercial.Models.Ventas

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ventas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FECHAREGISTRO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FECHAREGISTRO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FECHAREGISTRO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <table class="table">
                <tr>
                    <td> @Html.LabelFor(model => model.PRODUCTOS[0].CODIGO, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td> @Html.LabelFor(model => model.PRODUCTOS[0].DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td> @Html.LabelFor(model => model.PRODUCTOS[0].CANTIDAD, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td> @Html.LabelFor(model => model.PRODUCTOS[0].PVP, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td> @Html.LabelFor(model => model.PRODUCTOS[0].TOTAL, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td></td>
                </tr>
                <tbody>
                    @for (var i = 0; i < Model.PRODUCTOS.Count; i++)
                    {



                        <tr>
                            <td>@Html.TextBoxFor(model => model.PRODUCTOS[i].CODIGO)</td>
                            <td>@Html.TextBoxFor(model => model.PRODUCTOS[i].DESCRIPCION)</td>
                            <td>@Html.TextBoxFor(model => model.PRODUCTOS[i].CANTIDAD)@Html.ValidationMessageFor(model => model.PRODUCTOS[i].CANTIDAD)</td>
                            <td>@Html.TextBoxFor(model => model.PRODUCTOS[i].PVP)</td>
                            <td>@Html.TextBoxFor(model => model.PRODUCTOS[i].TOTAL)</td>
                            <td> <button type="button" class="btn btn-default" id="addRow"><i class="fa fa-plus"></i></button></td>
                        </tr>

                    }
                    </tbody>
            </table>

        </div>


    </div>
}

@section Scripts
 {
    <script>
        $("#addRow").click(function () {
            $.get('/Ventas/AddRow', function (template) {
                $('.table > tbody:last').after(template);//add last the whole data
            });
        });
        $("#deleteRow").click(function () {
            $(this).closest('tr').hide('slow');
        });
    </script>
}