@model Sistema_Comercial.Models.Productos

<h3>¿ESTA SEGURO QUE DESEA ELIMINAR ESTE PRODUCTO?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODIGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PVP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PVP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODELO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODELO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a lista de productos", "Index")
        </div>
    }
</div>
