@model PagedList.IPagedList<Sistema_Comercial.Models.Ventas>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


<table class="table">
    <tr>
        <th>
            FECHA REGISTRO
        </th>
        <th>
            TOTAL
        </th>
        <th>
            COMPROBANTE
        </th>
        <th>
            NOMBRE CLIENTE
        </th>
        <th>
            VENDEDOR
        </th>
        <th>
            PRODUCTO
        </th>
        <th>
            PVP
        </th>
        <th>
            CANTIDAD
        </th>
        <th>
            TOTAL
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FECHAREGISTRO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TOTAL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.COMPROBANTE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CLIENTE.NOMBRES)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.USUARIO.Nombres)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRODUCTOS[0].DESCRIPCION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRODUCTOS[0].PVP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRODUCTOS[0].CANTIDAD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRODUCTOS[0].TOTAL)
    </td>
</tr>}

</table>
<br />
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("DetalleVentas",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

