@model Sistema_Comercial.Models.Usuario
@{
    ViewBag.Title = "Usuario";
    var message = TempData["SuccessMessage"] ?? string.Empty;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Usuario</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @required = "required", @type = "password", @min = "5", @max = "15", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Rol: </label>
        <div class="col-md-10">
            <select id="IdRol" name="IdRol" class="form-control"> </select>
        </div>


    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
    @{Html.RenderAction("List", "Sistema");}
</div>
}

@section Scripts
 {
    <script>
        $(document).ready(function () {
            var roles;
            $.ajax({
                'async': false,
                'type': "GET",
                'global': false,
                'dataType': 'json',
                'url': "@Url.Action("GetRoles","Sistema")",
                'data': {},
                'success': function (data) {
                    debugger;
                    roles = data;
                    for (var i = 0; i < roles.length; i++) {
                        $('#IdRol').append('<option value="' + roles[i]["ID"] + '">' + roles[i]["DESCRIPCION"] + '</option>');
                    }

                }
            });

            $(window).on("load", function () {
                var message = "@message";
                if(message)
                alert(message);
            });

        });


    </script>
}
